<!DOCTYPE html>

<html>
<head>
	<title>Remote camera</title>
</head>
<body>
<div>
	<script type="application/json">
		@Html.Action("CameraJson")
	</script>

	<script type="text/javascript">
		
	</script>

	<table>
		<tr>
			<td><img src="@Url.Action("RemoteImage", routeValues: new {index = 1})"/></td>
			<td><img src="@Url.Action("RemoteImage", routeValues: new {index = 2})"/></td>
		</tr>
		<tr>
			<td>FXC-A</td>
			<td>FXC-B</td>
		</tr>
		<tr>
			<td><img src="@Url.Action("RemoteImage", routeValues: new {index = 3})"/></td>
			<td><img src="@Url.Action("RemoteImage", routeValues: new {index = 4})"/></td>
		</tr>
		<tr>
			<td>FXC-C</td>
			<td>PTC-A</td>
		</tr>
	</table>
</div>
</body>
</html>